@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
  // Colors definitions for the global theme
  MAIN_COLOR = #9e2e55
  MAIN_COLOR = #4188a5
  MAIN_COLOR = #651ea7
  MAIN_COLOR = #4188a5
  MAIN_COLOR = #383ea5

  SECOND_COLOR = #4188a5
  THIRD_COLOR = #9e2e55
  BUTTON_BACK = #fff
  BUTTON_COLOR = MAIN_COLOR
  GOOD_COLOR = #45b895
  WARNING_COLOR = #ac8e1a
  BAD_COLOR = #a80625


  PINK_COLOR = #9e2e55
  BLUE_COLOR = #4188a5
  DEEP_BLUE_COLOR = #383ea5
  PURPLE_COLOR = #651ea7

  // Fonts size. ATP, probably focus on "FONT_SIZE"
  SMALLER_FONT_SIZE = .5em
  SMALL_FONT_SIZE = .8em
  FONT_SIZE = 14px
  BIG_FONT_SIZE = 1.5em
  BIGGER_FONT_SIZE = 2em


  SMALLER_PADDING = 5px
  SMALL_PADDING = 10px
  PADDING = 32px
  BIG_PADDING = 64px
  BIGGER_PADDING = 96px

  VERTICAL_SMALL_PADDING = SMALL_PADDING
  VERTICAL_PADDING = PADDING
  VERTICAL_BIG_PADDING = BIG_PADDING

  HORIZONTAL_SMALL_PADDING = SMALL_PADDING
  HORIZONTAL_PADDING = PADDING
  HORIZONTAL_BIG_PADDING = BIG_PADDING




